@import "tailwindcss";

.tiptap p {
  margin-bottom: 1rem;
  line-height: 1.6;
}

.tiptap p:last-child {
  margin-bottom: 0;
}

p {
  margin: 1em 0;
}

body {
  min-height: 100vh;
  margin: 0;
  font-family: 'Poppins', sans-serif;
  transition: background-color 0.3s ease, color 0.3s ease;
  background-color: var(--background);
  color: var(--foreground);
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

.dark {
  --background: #161414fa;
  --foreground: #ffffff;
}

.star-rating::after {
  content: "★ ★ ★ ★ ★";
  color: gold;
}

@keyframes traceBorder {
  to {
    stroke-dashoffset: 0;
  }
}

.animate-borderline {
  border-width: 2px;
  border-style: solid;
  border-image-slice: 1;
  border-image-source: conic-gradient(from 0deg, blue 0%, transparent 0%);
  animation: traceBorder 50s linear forwards;
}

@keyframes marquee {
  0% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(-50%);
  }
}

.animate-marquee {
  display: inline-flex;
  min-width: 200%;
  animation: marquee 200s linear infinite;
}

.blog-content p:first-of-type::first-letter {
  font-size: 3rem;
  font-weight: bold;
  float: left;
  line-height: 1;
  margin-right: 6px;
}

/* globals.css */
.reverse-theme {
  @apply bg-gray-900 text-white dark:bg-white dark:text-gray-900;
}

.adsbygoogle {
  display: block !important;
  min-height: 250px;
  min-width: 300px;
}