@import "tailwindcss";


/* spacing for blog content */
.tiptap p {
  margin-bottom: 1rem;
}

.tiptap p:last-child {
  margin-bottom: 0;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  color: #000;
  background-color: white;
}

.ql-container {
  background: white;
  color: black;
}


.star-rating::after {
  content: "★ ★ ★ ★ ★";
  color: yellow;
}

@keyframes draw-border {
  to {
    stroke-dashoffset: 0;
  }
}

.animate-borderline {
  border-width: 2px;
  border-style: solid;
  border-image-slice: 1;
  border-image-source: conic-gradient(from 0deg, blue 0%, transparent 0%);
  animation: traceBorder 50s linear forwards;
}

@keyframes draw-border {
  to {
    stroke-dashoffset: 0;
  }
}
/* globals.css or wherever your global Tailwind imports are */
.tiptap p {
  margin-bottom: 1rem;
  /* adjust size */
  line-height: 1.6;
}

/* remove bottom margin on last child */
.tiptap p:last-child {
  margin-bottom: 0;
}

p {
  margin: 1em 0;
}

body {
  transition: background-color 0.3s ease, color 0.3s ease;
  min-height: 100vh;
  margin: 0;
  font-family: 'Poppins', sans-serif;
}
